# Dependencies (We don't upload these, they are too heavy)
node_modules/

# Secrets (NEVER upload this file)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db